/*--------------------------------------------------------
     Colors
-------------------------------------------------------- */

$black-text: rgb(17, 17, 17);
$black: rgb(25, 25, 25);
$gray: #f0f0f0;
$green: rgb(50,235,111);


/* --------------------------------------------------------
     Font-families
-------------------------------------------------------- */

$text: Montserrat, sans-serif;
