.works-content {
  padding: 120px 30px 100px 30px;
  animation: fadeIn;
  animation-duration: 2.5s;
  & > p {
    display: none;
  }
}

.works-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px 30px;
}

.video-background {
  background: black;
  position:relative;
  transition: 0.5s ease;
  &:hover {
    transform: scale(1.04);
    transition: 0.5s ease;
    background: white;
    .project-content {
      display: none;
    }
  }
}

.video {
  transition: 0.5s ease;
  opacity: 0.2;
  &:hover  {
    transition: 0.5s ease;
    opacity: 1;
  }
}

video {
  width: 100%;
}

.project-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
  & a {
    color: white;
  }
}

.project-title a {
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: bold;
  border-bottom: 10px solid $green;
  &:hover {
    text-decoration: none;
  }
}

.project-description {
  font-size: 36px;
  padding-top: 8px;
  letter-spacing: 1px;
}
